body {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: rgb(175, 113, 174);
  border-radius: 0;
  border-bottom: 10px solid rgb(229, 234, 237);
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid rgb(251, 249, 249);;
}

.hour {
  background-color: #ffffff;
  color: #6e72b4;
  border-top: 1px dashed #6c89b3;
}

.past {
  background-color: #afdaeb;
  color: white;
}

.present {
  background-color: #ecbddd;
  color: white;
}

.future {
  background-color: #c8e9c8;
  color: white;
}

.saveBtn {
  border-left: 1px solid rgb(210, 145, 186);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #a6e0ed;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}
.container{
  margin-bottom: 10px;
}
.footer {

  height:50px;

  bottom: 0;
  width: 100%;
  background-color: rgb(174, 218, 231);
}
